parameters:
  level: 7
  paths:
    - bin/
    - config/
    - src/
    - tests/
  ignoreErrors:
    - '#Method Svc\\LogBundle\\Tests\\SvcLogTestingKernel::configureRoutes\(\) is unused.#'
    - identifier: doctrine.columnType
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
    - identifier: function.alreadyNarrowedType
    - '#Call to an undefined method Psr\\Log\\LoggerInterface::expects\(\)#'
    - '#Parameter .* expects .*, PHPUnit\\Framework\\MockObject\\MockObject given\.#'
