parameters:
  level: 7
  paths:
    - bin/
    - config/
    - src/
    - tests/
  ignoreErrors:
    - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition.*#'
    - '#Method Svc\\LogBundle\\Tests\\SvcLogTestingKernel::configureRoutes\(\) is unused.#'
    - identifier: doctrine.columnType
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
    - identifier: function.alreadyNarrowedType
    - '#Call to an undefined method Psr\\Log\\LoggerInterface::expects\(\)#'
  excludePaths:
    - 'src/Controller/EaLogCrudController.php'
    - 'src/Controller/EaLogStatMonthlyCrudController.php'
