<h3>{{ daily_count.title }}</h3>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th style="text-align: right;">Count</th>
      </tr>
    </thead>
    <tbody>
      {% for line in daily_count.data | default(null) %}
        <tr>
          <td>{{ line.item_title }}</td>
          <td style="text-align: right;"><strong>{{ line.item_count }}</strong></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>