<h3>{{ daily_count.title }}</h3>
<table>
  {% for line in daily_count.data | default(null) %}
    <tr>
      <td>{{ line.item_title }}</td>
      <td>{{ line.item_count }}</td>
    </tr>
  {% endfor %}
</table>