<style>
table, th, td {
  border: 1px solid black;
  padding: 3px;
  border-collapse: collapse;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
</style>

<h1>Daily summary</h1>

{% for daily_aggr in daily_aggrs | default(null) %}
  {{ include("@SvcLog/daily_summary/_daily_aggr.html.twig", {daily_aggr: daily_aggr}) }}
{% endfor %}

{% for daily_list in daily_lists | default(null) %}
  {{ include("@SvcLog/daily_summary/_daily_list.html.twig", {daily_list: daily_list}) }}
{% endfor %}

{% for daily_count in daily_counts_st | default(null) %}
  {{ include("@SvcLog/daily_summary/_daily_counts.html.twig", {daily_count: daily_count}) }}
{% endfor %}

