{% trans_default_domain 'LogBundle' %}
<select class="form-select form-select-sm" name="{{ name }}" data-svcl-log-viewer-target="{{ name }}" data-action="svcl-log-viewer#onSubmit">
  <option value="1">=</option>
  <option value="2">></option>
  <option value="3"><</option>
</select>